@page "{id}"
@using FytSoa.Application.Exam
@inject ExamCourseService _courseService
@inject ExamTeacherService _teacherService
@{
    var id = RouteData.Values["id"]?.ToString();
    await _courseService.ModifyAddHitsAsync(long.Parse(id));
    var course = await _courseService.GetAsync(long.Parse(id));
    var teacher = await _teacherService.GetAsync(course.TeacherId);
    ViewData["Nav"] = 3;
    ViewData["Title"] = "图文-" + course.Title;
}
<div class="main_content_inner">
    <div uk-grid>
        <div class="uk-width-3-4@m">
            <div class="section-header mb-5 border-bottom uk-flex-middle">
                <div class="section-header-left">
                    <ul class="uk-breadcrumb">
                        <li>
                            <a href="/">首页</a>
                        </li>
                        <li>
                            <a href="/graphic">图文</a>
                        </li>
                        <li class="uk-disabled">
                            <a>详情</a>
                        </li>
                        <li>
                            <span>@Html.Raw(course.Title)</span>
                        </li>
                    </ul>
                </div>
            </div>
            <article class="uk-article">
                <h1 class="uk-article-title">
                    <a class="uk-link-reset" href="">@Html.Raw(course.Title)</a>
                </h1>
                <p class="uk-article-meta">
                    <i class="uil-history"></i>@course.UpdateTime
                    <span style="margin-left: 30px">
                        <i class="uil-heart"></i>@course.Hits
                    </span>
                </p>
                @Html.Raw(course.Content)
            </article>

        </div>
        <div class="uk-width-1-4@m uk-flex-last@m">
            <div class="uk-card-default rounded" uk-sticky="top:10; offset: 90; bottom: true; media: @@m;">
                <div class="text-center p-3">
                    <img src="@teacher.Avatar"
                         class="avatar-large circle m-auto my-3" alt="">
                    <h4 class="mb-1"> @Html.Raw(teacher.Name) </h4>
                    <p class="uk-text-small text-muted"> @teacher.PostName-@teacher.ProfessionCode.Name</p>

                </div>

                <hr class="my-0">
                <ul class="uk-list uk-list-divider uk-margin-small-top pt-1 pb-2">
                    <i>
                        <a href="#" class="ml-4">
                            <i class="uil-user mr-1"></i>
                            Hits <span class="pr-4 uk-float-right"> @teacher.Hits</span>
                        </a>
                    </i>
                    <li>
                        <a href="#" class="ml-4">
                            <i class="uil-laptop mr-1"></i>
                            Video <span class="pr-4 uk-float-right"> 12</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="ml-4">
                            <i class="uil-play-circle mr-1"></i>
                            Live <span class="pr-4 uk-float-right"> 43</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>